[submodule "third-party/embree"]
	path = third-party/embree
	url = https://github.com/embree/embree.git
[submodule "third-party/ospray"]
	path = third-party/ospray
	url = https://github.com/ospray/ospray.git
[submodule "third-party/threadpool11"]
	path = third-party/threadpool11
	url = https://github.com/tghosgor/threadpool11
[submodule "third-party/rapidjson"]
	path = third-party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
