[submodule "third-party/embree"]
	path = third-party/embree
	url = https://github.com/embree/embree.git
[submodule "third-party/rapidjson"]
	path = third-party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "third-party/nodeeditor"]
	path = third-party/nodeeditor
	url = https://github.com/paceholder/nodeeditor.git
